# Ignore node_modules folder
*/slurm/
/logs/
assisting_files/
__pycache__/
detection_scripts/evaluation/results/
classification_scripts/evaluation/results/
_debug_augmented_examples/

# STA generated outputs
STA/results/
*/slurm_logs/

# Ignore all .log files
*.log

# Ignore .env files
.env

*.egg-info/
